@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-cool-gray-800;
}

.hexagon {
  position: relative;
  width: 48px;
  height: 27.71px;
  margin: 13.86px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 13.86px solid currentColor;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 13.86px solid currentColor;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
